 <nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between px-4">
        <div class="logo">
            <a class="navbar-brand" href="https://www.kovai.co/">
                <img src="../../assets/logo.png" alt="Kovai.co">
            </a>
        </div>
        <nav>
            <ul class="navbar-nav flex-row">
                <li><a class="fw-bold" routerLink="/products" routerLinkActive="active">Products</a></li>
                <li class="ms-4"><a class="fw-bold" routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
    </div>
</nav>



