<div class="container text-center">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <p class="mb-2">About Kovai.co</p>
                <h1>We build simple<br><span>Revenue Growth</span> solutions</h1>
                <p class="mb-0">Elevate your top and bottom lines effortlessly with our products ensuring seamless operations, empowering self-service, and reduced churn.</p>
            </div>
        </div>
    </div>


